html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:   'Roboto Slab', sans-serif;
}



#root {
  width: 100%;
}

.app-container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #FFB300;
  width: 100%;
  height: 100px;
  text-align: center;
   padding: 10px;
 
  
  
}
/*CSS PARA EL HEADER */ 
.header-titulo {
  font-size: 32px;
  
}

.slogan {
  text-align: center;
}

/*CSS PARA EL NAVBAR */
.navbar {
  background-color:  #FFB300;
  display: flex; 
  align-items: center;
  justify-content: cener;
  height: 75px;
  width: 100%;
  font-size: 14px;
  padding-left: 30px;
  gap: 10px;
  position : sticky;
  top: 0;
  z-index: 10;
  

}

.total-navbar{
  margin-left: auto;
  margin-right: 60px;
  border: 1px solid #000000;
  background-color: rgb(27, 21, 21);
  border-radius: 4px;
  background-color: none;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
  height: 40px;


}


.nav-btn{
  background-color: #FFB300;
  border-radius: 4px;
  border: 1.5px solid #8E9A46;
  color: rgb(6, 6, 6);
  font-size: 16px;
  height: 40px;
  
}

.nav-btn:hover {
  background-color: #8E9A46;
  color: #ffffff;
  height: 40px;
 
   
}


/*CSS PARA LAS CARDS */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
  gap: 2rem;
  
}

.card-container {
  width: 300px;
  border: 1px solid #D32F2F;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
 
}


.card-container img{
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  border-radius: 8px;
}


.list-container{
  list-style: none;
  text-align: left;
}

.ver-mas {
  background-color: white ;
  border: 2px solid #8E9A46;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 10px;
 
}

.ver-mas:hover {
  background-color: #8E9A46;
  color: white;
}

.agg-al-carrito {
  background-color: white ;
  border-radius: 15px;
  gap: 10px;
  border: 2px solid #8E9A46;
  cursor: pointer;
  padding: 8px 15px;


}

.agg-al-carrito:hover {
  background-color: #8E9A46;
  color: white;
}

/* CSS PARA EL REGISTRO Y LOGIN*/
.container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 85vh;
}


.tittle-register {
  margin-bottom: 2px ;
}
.subtittle-register {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.formulario {
 display: flex;
 flex-direction: column;
  
}

.form-group {
  margin-bottom: 9px;
}

.label{
  font-size: 18px;
  margin-right: 8px;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn-registro {
background-color: white;
padding: 8px 10px;

}

.btn-registro:hover {
  background-color: #8E9A46;
  border: #8E9A46 2px solid;
  color: white;
  
}

.container-btn {
display: flex;
justify-content: center;
margin-top: 20px;
}


/*CSS PARA EL CARTS*/

.cards-container {
  padding: 20px;
}

.producto {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.btn-menos,
.btn-mas,
.btn-pagar {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-pagar{
  border: 1px solid #000000;
  background-color: rgb(27, 21, 21);
  border-radius: 4px;
  background-color: none;
  padding: 4px 8px;
  color: white;
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
 
}

.btn-menos,
.btn-mas{
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  

}
.cart-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

.producto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 450px;   
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  
}


.producto img {
  width: 65px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;

}
.cantidad-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}





